extends layout

block principal
  .d-flex.p-2.justify-content-center.carta.animated.fadeIn
    .card.shadow.border
      .card-body
        h3.text-center= title
        center
          img(src="/images/user.png", alt="alt").sesion.animated.rotateIn
        
        form(action="/maestro/verify" method="post")
          .form-row
            .col-12
              label(for="Correo") Correo
              input(type="email", name="Correo",placeholder="Ejemplo: profesor@gmail.com",required).form-control
            rh.my-2
            .col-12
              label(for="Password") Contraseña
              input(type="password", name="Password").form-control
            .col-12.text-center
              button.btn-primary.btn-lg(type='submit') Iniciar
  .d-flex.p-2.justify-content-center.fondo2
              