body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.sesion{
  max-width: 150px;
}
.fondo{
  position: fixed;
  /* display: cover; */
  
  min-width: 100%;
  min-height: 100%;

}
.blanco{
  background-color: rgba(255,255,255,0.9);
  top:10px;
  padding: 4%;
  border-radius: 20px;

}