extends ../layout

block principal
  .d-flex.p-2.justify-content-center.carta.animated.fadeIn
    .card.shadow.border
      .card-body
        center
          h3= title
          img(src="/images/user.png", alt="alt").sesion.animated.rotateIn
          form(action="/alumno/verify" method="post")
            .form-row
              .col-12
                label(for="Matricula") Matrícula
                input(type="text", name="Matricula",placeholder="Ejemplo: 1425UAU2018",required).form-control.text-center.text-uppercase
              rh.my-2
              .col-12
                label(for="Password") Contraseña
                input(type="password", name="Password").form-control.text-center
              .col-12
                button.btn-primary.btn-lg(type='submit') Iniciar
  .d-flex.p-2.justify-content-center.fondo
  